<h1>Historia de los comics</h1>

<p>El origen de los cómics se remonta a miles de años. Desde que el ser humano tuvo la necesidad de dibujar para poder
    explicar una historia, aventura, acontecimiento o leyenda.

    Alumbrado por la luz cimbreante de una hoguera, un viejo cazador pintaba en el fondo de una cueva una secuencia de
    caza. Lo hacía con un tizón acabado de extraer del fuego, hace tal vez 14.000 años.</p>

<img src="/assets/img/Rupestres.jpg">

<h1>Primer Comic de Marvel</h1>
<p>Marvel Comics #1, una historieta publicada en agosto de 1939 y que fue el primer cómic publicado por la editorial
    Timely Comics, la compañía que con el pasar de las décadas terminaría convirtiéndose en Marvel Comics.
    Esa historia contó con personajes como La Antorcha Humana (La primera versión que no tiene relación con Los Cuatro
    Fantásticos) y el acuático Namor the Sub-Mariner,</p>

<img src="/assets/img/Marvel1.png" style="margin-left: 350px;">

<h1>Primer comic Dc</h1>
<p>En Marzo de 1937 se publicó la historieta Detective Comics nº1, pero fue exactamente en Junio 1938, cuando se
    publicado Action Comics nº1, en la portada; Superman, inicia así una fiebre por los cómics nunca antes vistas hasta
    la época, especialmente por las historietas de superhéroes. El éxito se debió al personaje llamado Superman, un
    justiciero con súper poderes. Evidentemente el clima mundial de la época en EE.UU. pre-segunda guerra mundial ayudó
    a la proliferación de estos personajes.</p>

    <img src="/assets/img/DC.png" style="margin-left: 350px;">

