<h1>Comics mas importantes Marvel</h1>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/viejo-logan.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/civil-war.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/guantelete-infinito.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
<br>
<br>
  <div id="tarjetas">
    <div class="card-deck">
      <div class="card">
        <img src="/assets/img/viejologan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Viejo Logan</h5>
          <p class="card-text">Creado por el escritor Mark Millar y el artista Steve McNiven, se trata de una versión envejecida de Wolverine perteneciente a un distópico universo alternativo en el cual los supervillanos derrocaron a los superhéroes</p>
          <a href="https://www.amazon.com.mx/MARVEL-MUST-HAVE-LOBEZNO-VIEJO-LOGAN/dp/8413344301" class="btn btn-danger">Adquirir ahora</a>
        </div>
      </div>
      <div class="card">
        <img src="/assets/img/civilwar.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Civil War</h5>
          <p class="card-text">El mayor evento de la historia del cómic, al fin recopilado en un volumen imprescindible y plagado de extras! El Universo Marvel está cambiando. Es tiempo de elegir: ¿De qué lado estás?</p>
          <a href="https://www.amazon.es/Civil-Marvel-Deluxe-Millar-McNiven/dp/8498855144/ref=as_li_ss_tl?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Civil+War+marvel&qid=1599761875&s=books&sr=1-1&linkCode=sl1&tag=sompadfri-21&linkId=04f7004ca5a6f29c952830427adeb375&language=es_ES" class="btn btn-danger">Adquirir ahora</a>
        </div>
      </div>
      <div class="card">
        <img src="/assets/img/guanteinfinito.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El Guantelete del infinito</h5>
          <p class="card-text">Para Thanos, el Guantelete del Infinito es el Santo Grial, el premio definitivo por su adoración hacia la muerte. Con él, lo controla todo. Liderados por Adam Warlock, los superhéroes de la Tierra representan la última esperanza del Universo.</p>
          <a href="https://www.amazon.es/GUANTELETE-DEL-INFINITO-Starlin-Jim/dp/8491673393/ref=as_li_ss_tl?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=El+Guantelete+del+Infinito&qid=1599761956&s=books&sr=1-1&linkCode=sl1&tag=sompadfri-21&linkId=c11a9d98bbdb9605e4ab4270d82dc535&language=es_ES" class="btn btn-danger">Adquirir ahora</a>
        </div>
      </div>
    </div>
  </div>
  <h1>Comics mas importantes DC</h1>x
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/batman-una-muerte-en-la-familia.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/injustportada.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/flashpointportada.jpg" class="d-block w-100" alt="...">
      </div>
    </div>


  </div>
<br>
<br>
  <div id="tarjetas">
    <div class="card-deck">
      <div class="card">
        <img src="/assets/img/batman1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Batman Una Muerte en la Familia</h5>
          <p class="card-text">En la trama Jason descubre que su verdadera madre está viva y comienza su búsqueda por el Medio Oriente, donde se reúne con Batman quien está tras la pista del Joker. Jason conoce a su madre, quien está involucrada en negocios con el Joker, pero este finalmente la traiciona, golpea a Jason hasta dejarlo moribundo y los deja a ambos encerrados con explosivos.</p>
          <a href="https://www.amazon.com.mx/BATMAN-UNA-MUERTE-FAMILIA-DELUXE/dp/B08R956KTM" class="btn btn-dark">Adquirir ahora</a>
        </div>
      </div>
      <div class="card">
        <img src="/assets/img/injust.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Civil War</h5>
          <p class="card-text">Las cosas en el Universo DC han cambiado después de que Superman sea engañado para destruir a quien más ama. Ahora dispuestos a no dejar que el crimen quede impune, los héroes de nuestro mundo deben elegir si están con Superman o contra él. Pero no todos los países se someterán al nuevo régimen en el mundo ni tampoco lo hará la mayor amenaza de Superman: ¡Batman!</p>
          <a href="https://www.amazon.com.mx/Injustice-Gods-Among-Complete-Collection/dp/1401262791/ref=sr_1_1?adgrpid=63486331331&gclid=Cj0KCQjw4PKTBhD8ARIsAHChzRJfLfZwhwPeZ5nn1D01LkdH55WGxvZTQmKReN3phDOkWpM8vgI-n9gaAjXeEALw_wcB&hvadid=513423000366&hvdev=c&hvlocphy=1010029&hvnetw=g&hvqmt=e&hvrand=5718329399791261290&hvtargid=kwd-300208814131&hydadcr=26978_14429957&keywords=injustice+comic&qid=1652424202&sr=8-1" class="btn btn-dark">Adquirir ahora</a>
        </div>
      </div>
      <div class="card">
        <img src="/assets/img/flashpoint.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">El Guantelete del infinito</h5>
          <p class="card-text">TODO LO QUE CONOCES CAMBIARÁ EN UN INSTANTE Barry Allen es Flash, el hombre más rápido del mundo que protege al inocente y combate al mal. Pero este no es el mundo que conoce.Este es un mundo donde Wonder Woman y Aquaman han sumergido a millones en la oscuridad de la guerra… donde no hay humanos que porten la luz de Green Lantern… donde Batman tiene tanta sangre en las manos igual que sus enemigos… donde nadie ha escuchado de Superman…</p>
          <a href="https://www.amazon.com.mx/Flashpoint-Geoff-Johns/dp/1401233384" class="btn btn-dark">Adquirir ahora</a>
        </div>
      </div>
    </div>
  </div>